# Run Django management commands every 10 minutes
*/10 * * * * /bin/bash -c "export DJANGO_SETTINGS_MODULE=todo_list.settings && cd /app && /usr/local/bin/python3 /app/manage.py send_reminders >> /app/cron.log 2>&1"
*/10 * * * * /bin/bash -c "export DJANGO_SETTINGS_MODULE=todo_list.settings && cd /app && /usr/local/bin/python3 /app/manage.py mark_popup_reminders >> /app/cron.log 2>&1"
#