# .ebextensions/01_django.config
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "todo_list.settings"  # Replace with your project name, e.g., "todo_list.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "todo_list.wsgi:application"  # Replace with your project name, e.g., "todo_list.wsgi:application"